        <section class="showcase auto block parallax" style="background-image:url(/uploads/showcase/404.jpg)">
            <div class="container">
                <h1 class="display-1 text-center">404</h1>
            </div>
        </section>

        <div class="container">
            <h1 class="title text-center">The request page cannot be found.</h1>
            <hr>

            <div class="article">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod iusto adipisci facilis, obcaecati, nobis culpa voluptatibus cumque aspernatur porro quia.</p>
            </div>
        </div>
