        <section class="showcase parallax animation-trigger" style="background-image:url(/uploads/showcase/default.jpg)">
            <div class="showcase-wrapper animate">
                <div class="showcase-caption text-center">
                    <div class="display-1">Sample</div>
                    <div class="display-4">Expedita similique illo voluptatem</div>
                </div>
            </div>
        </section>

        <section class="section animation-trigger">
            <div class="container">
                <div class="cols">
                    <div class="col col-6 animate">
                        <img class="img-fluid" src="/uploads/image1.jpg" alt="">
                    </div>
                    <div class="col col-6 animate">
                        <article class="article">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe id perferendis nemo alias ut magni porro, ratione sit possimus quos odit libero natus atque rerum fuga, hic deleniti animi. Expedita similique illo voluptatem repellendus autem porro possimus. Minus voluptatem nihil perspiciatis amet recusandae accusantium ad, blanditiis eum magnam eaque adipisci, perferendis cum hic neque quisquam ducimus quidem iste, vero fugiat officia aliquam ea impedit debitis! Eaque exercitationem aspernatur sapiente consectetur dolorem, tenetur id blanditiis voluptates tempora nulla doloribus sequi iusto rem magnam dolores reprehenderit totam esse suscipit nesciunt mollitia recusandae error. Ea quisquam fugit sit enim sapiente unde corporis rem!</p>
                        </article>
                    </div>
                </div>
            </div>
        </section>
